<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>E-mprender</title> -->
    
    <%- include('./partials/title') %>


        
    <!-- ESTILOS BOOSTRAP -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- ESTILOS PERSONALES -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/productos.css' />
    <link rel='stylesheet' href='/stylesheets/navbar.css' />


    <!-- FUENTES -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="<%= fuentes[0].link %>" rel="stylesheet">


</head>

<body style="background-color: rgba(<%= resultados[14].value %>,<%= resultados[15].value %>,<%= resultados[16].value %>, <%= resultados[17].value %>);<%= fuentes[0].css %>">
    
    
    <!-- INICIO BARRA DE NAVEGACIÓN -->

    <%- include('./partials/navbar') %>

    <!-- FIN BARRA DE NAVEGACIÓN -->




    <div class="external-container-section">

      <div class="internal-container-section">
        <h2 class="header-slogan">PORTAFOLIO DE PRODUCTOS</h2>
      </div>

    </div>


    <div class="external-container-section">

      <div class="internal-container-section">

        <% for(let i=0; i<productosBusqueda.length; i++) {%>
          <div class="external-container-productos">
            <div class="internal-container-productos">
              <% if(productosBusqueda[i].imagenesProductos != ''){%>
                <img src="../images/productos/<%= productosBusqueda[i].imagenesProductos[0].imagen %>" alt="" class="imagen-producto">
              
              <% }else{ %>
                <img src="" alt="" class="imagen-producto">
              
              <% } %>
            </div>
            <div class="internal-container-paragraph-productos">
              <h2 class="titulo-producto"><%= productosBusqueda[i].nombre %></h2>
              <p class="paragraph-producto"><%= productosBusqueda[i].descripcion %></p>


              <% if(productosBusqueda[i].precio != '') {  %>
                <p class="paragraph-productos">
                  <% if(productosBusqueda[i].preciocondescuento != ''){%>
                  
                    <b>Precio: $ <del><%= productosBusqueda[i].precio %></del></b>
                  
                  <% }else{ %>
                    <b>Promoción: <%= productosBusqueda[i].precio %></b>

                  <% } %>

                </p>
              <% }else{  %>
                <!-- <p class="paragraph-productos">
                  <br>
                </p> -->
              <% } %>


              <% if(productosBusqueda[i].precio != '') {  %>
                <p class="paragraph-productos">
                  <% if(productosBusqueda[i].preciocondescuento != ''){%>
                  
                    <b>Promoción: $ <%= productosBusqueda[i].preciocondescuento %></b>
                  
                  <% }else{ %>
                    <b>Promoción: N/A</b>

                  <% } %>

                </p>
              <% }else{  %>
                <!-- <p class="paragraph-productos">
                  <br>
                </p> -->
              <% } %>
              
              <a href="/productos/<%= productosBusqueda[i].id %>">Ver más...</a>
            </div>
          </div>
  
        <% } %>

      </div>

    </div>






    <!-- INICIO FOOTER -->

    <%- include('./partials/footer') %>

    <!-- FIN FOOTER -->


</body>


  <!-- ESTILOS BOOSTRAP -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <!-- iconos gratuitos -->
  <script src="https://kit.fontawesome.com/a0c0bb4f74.js" crossorigin="anonymous"></script>

</html>